@import "../bootstrap/mixins.less";

.features {
  position: relative;

  .clearfix();

  &__title {
    margin-bottom: 70px;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    color: @color-menu;
    text-align: center;
  }
  &__title span:first-child {
    margin-top: 65px;
    margin-bottom: 35px;
  }
  &__title span {
    display: block;
    width: 210px;
    margin-right: auto;
    margin-left: auto;
  }
  &__wrapper {
    padding-top: 55px;
    text-align: center;
    background-color: #f2f2f2;

    .clearfix();
  }
  &__name {
    width: 275px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }
  &__desc {
    width: 275px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    color: @color-menu;
  }
  &__img {
    margin: 0 auto;
  }
}
