@import "../bootstrap/mixins.less";

.features {
  position: relative;
  text-align: center;

  .clearfix();

  &__title {
    margin-bottom: 70px;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    color: @color-menu;
    @media (min-width: @screen-sm) {
      margin-bottom: 100px;
    }
  }
  &__title span:first-child {
    margin-top: 65px;
    margin-bottom: 35px;
  }
  &__title span {
    display: block;
    width: 210px;
    margin-right: auto;
    margin-left: auto;
  }
  &__wrapper {
    padding-top: 55px;
    text-align: center;
    background-color: #f2f2f2;

    .clearfix();
  }
  &__wrapper--second{
    padding-top: 0;
  }
  &__name {
    width: 275px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }
  &__name--effect {
    font-size: 30px;
    line-height: 36px;
  }
  &__desc {
    width: 275px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    color: @base-color;
  }
  &__desc--effect {
    margin-bottom: 25px;
  }
  &__link {
    .links(@color-pink, @base-color, #f2f2f2);
    display: block;
    width: 275px;
    margin: 0 auto;
  }
  &__img {
    //margin: 0 auto;
  }
  &__wrapper-left {
    margin-top: -100px;
  }
  &__wrapper-right {
    margin-top: -45px;
  }
  &__wrapper-left-second {
    margin-top: 55px;
  }
  &__wrapper-right-second {
    margin-top: 60px;
    text-align: left;
  }
}
