.price {
  position: relative;
  height: 450px;
  padding-top: 65px;
  background-color: #f2f2f2;
  &__wrapper {
    width: 87.5%;
    //.clearfix;
    margin: auto;
  }
  &__head-cell {
    height: 100px;
    //width: 280px;
    color: white;
    background-color: @base-color;
    border: 1px solid #b5b9be;
  }
  &__head-span-1 {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
  }
  &__head-span-2 {
    display: block;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
  }
  &__cell {
    height: 60px;
    text-align: left;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #b5b9be;
  }
  &__yes {
    width: 29px;
    height: 22px;

    fill: #3fc746;
  }
  &__no {
    width: 26px;
    height: 26px;

    fill: #f25b26;
  }
  &__span-1 {
    display: inline-block;
    float: left;
    padding-left: 25px;
    vertical-align: top;
  }
  &__span-2 {
    display: inline-block;
    float: right;
    padding-right: 20px;
    vertical-align: top;
  }
  &__head-cell--hit {
    background-image: url("../img/logo-hit.png");
    background-repeat: no-repeat;
  }
}
