.price {
  &__head-cell {
    border: 1px solid #b5b9be;
    background-color: @base-color;
    color: white;
    height: 100px;
  }
  &__head-span-1 {
    font-size: 18px;
    line-height: 30px;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
  }
  &__head-span-2 {
    font-size: 24px;
    line-height: 30px;
    display: block;
    text-transform: uppercase;
    font-weight: 300;
  }
&__cell {
  border: 1px solid #b5b9be;
  height: 60px;
}
  &__slider-item {
    width: 280px !important;
    //margin: 0 auto;
  }
  &__column {
    //width: 280px;
  }
  &__yes {
    fill: #3fc746;
    width: 29px;
    height: 22px;
  }
  &__no {
    fill: #f25b26;
    width: 26px;
    height: 26px;
  }
  &__span-1,
  &__span-2 {
    display: inline-block;
    vertical-align: top;
  }
}